# IDE
.idea/
.vscode/
*.swp

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/

# Output files
!.github/workflows/*.yml
/examples/sample_template.yml
/test.yml

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/